@model Bank.DAL.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@if (User.Identity.IsAuthenticated)
{
    <script>
        function showhide() {
            var div = document.getElementById("HoeveelheidLimiet");
            if (div.style.display !== "none") {
                div.style.display = "none";
            }
            else {
                div.style.display = "block";
            }
        }
    </script>

    <h4>Account</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                        <label asp-for="AccountNumber" class="control-label"></label>
                        <input asp-for="AccountNumber" class="form-control" />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AccountLock" /> @Html.DisplayNameFor(model => model.AccountLock)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="AccountBalance" class="control-label"></label>
                        <input asp-for="AccountBalance" class="form-control" />
                        <span asp-validation-for="AccountBalance" class="text-danger"></span>
                    </div>*@

                <div class="form-group">
                    <label asp-for="AccountLimiet" class="control-label"></label>
                    <select asp-for="AccountLimiet" asp-items="Html.GetEnumSelectList<Choice>()" class="form-control" onchange="showhide()"></select>
                    <span asp-validation-for="AccountLimiet" class="text-danger"></span>
                </div>
                <div id="HoeveelheidLimiet" style="display:none" >
                    <div class="form-group">
                        <label asp-for="AccountMinimum" class="control-label"></label>
                        <input asp-for="AccountMinimum" class="form-control" value="0"/>
                        <span asp-validation-for="AccountMinimum" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AccountType" class="control-label"></label>
                    <select asp-for="AccountType" asp-items="Html.GetEnumSelectList<AccountType>()" class="form-control"></select>
                    <span asp-validation-for="AccountType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
@if (!User.Identity.IsAuthenticated)
{
    <h2>U dient in te loggen om een account aan te maken. </h2>
    <br />
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
