@model Bank.DAL.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@if (User.Identity.IsAuthenticated)
{
    <h4>Account</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="AccountNumber" class="control-label"></label>
                    <input asp-for="AccountNumber" class="form-control" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AccountLock" /> @Html.DisplayNameFor(model => model.AccountLock)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="AccountBalance" class="control-label"></label>
                    <input asp-for="AccountBalance" class="form-control" />
                    <span asp-validation-for="AccountBalance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccountMinimum" class="control-label"></label>
                    <input asp-for="AccountMinimum" class="form-control" />
                    <span asp-validation-for="AccountMinimum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccountType" class="control-label"></label>
                    <select asp-for="AccountType" class="form-control"></select>
                    <span asp-validation-for="AccountType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
    @if (!User.Identity.IsAuthenticated)
    {
        <h2>U dient in te loggen om een account te kunnen bewerken. </h2>
        <br />
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
