@model Bank.FrontEnd.ViewModels.ListAndSearchVM

@{
    ViewData["Title"] = "Create";
}
@if (User.Identity.IsAuthenticated)
{
    <script>
        function showhide() {
            var div = document.getElementById("PeriodicView");
            if (div.style.display !== "none") {
                div.style.display = "none";
            }
            else {
                div.style.display = "block";
            }
        }
    </script>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Accounts" class="control-label"></label>
                    <select asp-for="Accounts" asp-items="@(new SelectList(@ViewBag.Accounts,"Id", "AccountNumber"))" class="form-control"></select>
                    <span asp-validation-for="Accounts" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transaction.AccountTo" class="control-label"></label>
                    <input asp-for="Transaction.AccountTo" class="form-control" />
                    <span asp-validation-for="Transaction.AccountTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transaction.TransactionAmount" class="control-label"></label>
                    <input asp-for="Transaction.TransactionAmount" class="form-control" />
                    <span asp-validation-for="Transaction.TransactionAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transaction.TransactionDate" class="control-label"></label>
                    <input type="datetime" asp-for="Transaction.TransactionDate" class="form-control" />
                    <span asp-validation-for="Transaction.TransactionDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transaction.IsPeriodic" class="control-label"></label>
                    <select class="form-control" onchange="showhide()">
                        <option value="False">Geen</option>
                        <option value="True">Actief</option>

                    </select>
                    <span asp-validation-for="Transaction.IsPeriodic" class="text-danger"></span>
                </div>
                @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsPeriodic" /> @Html.DisplayNameFor(model => model.IsPeriodic)
            </label>
        </div>*@
                <div id="PeriodicView" style="display:none">
                    <div class="form-group">
                        <label asp-for="Transaction.PeriodicTransactionFrequentyDays" class="control-label">Days</label>
                        <input asp-for="Transaction.PeriodicTransactionFrequentyDays" value="0" class="form-control" />
                        <span asp-validation-for="Transaction.PeriodicTransactionFrequentyDays" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Transaction.Frequenty" class="control-label"></label>
                        <input asp-for="Transaction.Frequenty" value="0" class="form-control" />
                        <span asp-validation-for="Transaction.Frequenty" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
@if (!User.Identity.IsAuthenticated)
{
    <h2>U dient in te loggen om een transactie aan te maken. </h2>
    <br />
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
